<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="css/chat.css">
</head>
<body>
    <div>
        logged in as <%= user %>
        <a href="/logout"><button>LOGOUT</button></a>
    </div>
    <div><form action="/admin/deleteuser" method="post">
        <input type="text" name="user" placeholder="!!username!!" id="messageinput">
        <button type="submit">Delete User</button>
    </form></div>
    
    <div class="messagediv">
        <%if(!messages){%>
            no messages yet
        <%}else{%>
        <% for(let message of messages){%>
            <span class="messagespan"><%- message.username %> : <%- message.message %></span>
      
        <% }}%>
    </div>
    <div class="userdiv">
        <%if(!users){%>
            no users yet
        <%}else{%>
        <% for(let user of users){%>
            <span class="userspan">'<%- user.username %>'</span>
      
        <% }}%>
    </div>
    
</body>
</html>